name: 'build-test'
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  build-and-test: # make sure build/ci work properly
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          yarn install --frozen-lockfile
      - run: |
          yarn all
      - run: yarn test
  inception: # use the action to upload the latest logs
    runs-on: ubuntu-latest
    needs: build-and-test
    steps:
      - uses: actions/checkout@v4
      - uses: ./
        with:
          hyperdx_api_key: ${{ secrets.HYPERDX_API_KEY }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
